.watch-container {
  width: 600px;
  height: 350px;
  border: 3px solid white;
  border-radius: 8px;
  display: grid;
  grid-template-areas: ". . battery" "time time alarm" "button button button";
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
}
.watch-container .battery-container {
  grid-area: battery;
  padding: 2px;
  width: 80px;
  height: 30px;
  border: 3px solid white;
  border-radius: 1px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 3px;
}
.watch-container .battery-container .battery {
  width: 12px;
  height: 20px;
  border: 2px solid white;
  border-radius: 1px;
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container {
  grid-area: time;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 400px;
  height: 180px;
  border: 3px solid #c8c8c8;
  border-radius: 3px;
  background-color: #303030;
  color: #fff;
  border-color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 10px;
}
.watch-container .time-container .date {
  font-size: 15px;
  font-weight: bold;
  background-color: #303030;
  color: #66e8ee;
  border-color: #fff;
  text-shadow: 0 0 12px #66e8ee;
}
.watch-container .time-container .time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.watch-container .time-container .time .digit-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.watch-container .time-container .time .digit-box .digit {
  width: 48px;
  height: 100px;
  display: grid;
  grid-template-areas: ". d-t ." "d-lt . d-rt" " . d-m ." "d-lb . d-rb" ". d-b .";
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding: 11px 5px;
}
.watch-container .time-container .time .digit-box .digit > div {
  border: 1px solid white;
  border-radius: 3px;
  background-color: #262628;
  color: #fff;
  border-color: #262628;
}
.watch-container .time-container .time .digit-box .digit > div:nth-child(1) {
  grid-area: d-t;
  width: 25px;
  height: 6px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.watch-container .time-container .time .digit-box .digit > div:nth-child(2) {
  grid-area: d-lt;
  width: 6px;
  height: 30px;
  border-top-left-radius: 1px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 8px;
}
.watch-container .time-container .time .digit-box .digit > div:nth-child(3) {
  grid-area: d-rt;
  width: 6px;
  height: 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 1px;
}
.watch-container .time-container .time .digit-box .digit > div:nth-child(4) {
  grid-area: d-m;
  width: 25px;
  height: 6px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.watch-container .time-container .time .digit-box .digit > div:nth-child(5) {
  grid-area: d-lb;
  width: 6px;
  height: 30px;
  border-top-left-radius: 1px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 8px;
}
.watch-container .time-container .time .digit-box .digit > div:nth-child(6) {
  grid-area: d-rb;
  width: 6px;
  height: 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 1px;
}
.watch-container .time-container .time .digit-box .digit > div:nth-child(7) {
  grid-area: d-b;
  width: 25px;
  height: 6px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}
.watch-container .time-container .time .digit-box .zero > div {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .zero > div:nth-child(4) {
  background-color: #262628;
  color: #fff;
  border-color: #262628;
  filter: none;
}
.watch-container .time-container .time .digit-box .one > div {
  background-color: #262628;
  color: #fff;
  border-color: #262628;
}
.watch-container .time-container .time .digit-box .one > div:nth-child(3) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .one > div:nth-child(6) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .two > div {
  background-color: #262628;
  color: #fff;
  border-color: #262628;
}
.watch-container .time-container .time .digit-box .two > div:nth-child(1) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .two > div:nth-child(3) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .two > div:nth-child(4) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .two > div:nth-child(5) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .two > div:nth-child(7) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .three > div {
  background-color: #262628;
  color: #fff;
  border-color: #262628;
}
.watch-container .time-container .time .digit-box .three > div:nth-child(1) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .three > div:nth-child(3) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .three > div:nth-child(4) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .three > div:nth-child(6) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .three > div:nth-child(7) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .four > div {
  background-color: #262628;
  color: #fff;
  border-color: #262628;
}
.watch-container .time-container .time .digit-box .four > div:nth-child(2) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .four > div:nth-child(3) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .four > div:nth-child(4) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .four > div:nth-child(6) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .five > div {
  background-color: #262628;
  color: #fff;
  border-color: #262628;
}
.watch-container .time-container .time .digit-box .five > div:nth-child(1) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .five > div:nth-child(2) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .five > div:nth-child(4) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .five > div:nth-child(6) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .five > div:nth-child(7) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .six > div {
  background-color: #262628;
  color: #fff;
  border-color: #262628;
}
.watch-container .time-container .time .digit-box .six > div:nth-child(1) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .six > div:nth-child(2) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .six > div:nth-child(4) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .six > div:nth-child(5) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .six > div:nth-child(6) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .six > div:nth-child(7) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .seven > div {
  background-color: #262628;
  color: #fff;
  border-color: #262628;
}
.watch-container .time-container .time .digit-box .seven > div:nth-child(1) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .seven > div:nth-child(3) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .seven > div:nth-child(6) {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .eight > div {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .nine > div {
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 5px #66e8ee);
}
.watch-container .time-container .time .digit-box .nine > div:nth-child(5) {
  background-color: #262628;
  color: #fff;
  border-color: #262628;
  filter: none;
}
.watch-container .time-container .time .digit-colon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.watch-container .time-container .time .digit-colon > div {
  width: 5px;
  height: 5px;
  border: 1px solid white;
  border-radius: 1px;
  background-color: #66e8ee;
  color: #fff;
  border-color: #66e8ee;
  filter: drop-shadow(0 0 3px #66e8ee);
}
.watch-container .time--off {
  background-color: #303030;
  color: #303030;
  border-color: #fff;
}
.watch-container .time--off > .date {
  background-color: #303030;
  color: #262628;
  border-color: #fff;
  text-shadow: none;
}
.watch-container .alarm-container {
  grid-area: alarm;
  width: 120px;
  height: 180px;
  border: 3px solid #c8c8c8;
  border-radius: 3px;
  background-color: #303030;
  color: #fff;
  border-color: #fff;
}
.watch-container .button-container {
  grid-area: button;
  text-align: center;
}
.watch-container .btn__alarm {
  width: 50px;
  height: 70px;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  background-color: #303030;
  color: #fff;
  border-color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 3px;
}
.watch-container .btn__alarm:hover {
  opacity: 70%;
}
.watch-container .btn--circle {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.watch-container .btn--refill {
  grid-area: battery;
  width: 15px;
  height: 15px;
  background-color: #ec0c0c;
  color: #fff;
  border-color: #fff;
  filter: drop-shadow(0 0 5px #ec0c0c);
  justify-self: end;
  align-self: center;
}
.watch-container .btn--refill:disabled {
  background-color: #04f700;
  color: #fff;
  border-color: #fff;
  filter: drop-shadow(0 0 5px #04f700);
}
.watch-container .disabled {
  cursor: not-allowed;
}
.watch-container .disabled:hover {
  opacity: 100%;
}/*# sourceMappingURL=style.css.map */