body {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "header header header"
    "body body body"
    "footer footer footer";
  grid-template-rows: 10% 80% 10%;
}

header {
  grid-area: header;
}

main {
  grid-area: body;
}

footer {
  grid-area: footer;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303030;
  color: #fff;
}

.nameplate-box {
  width: 200px;
  height: 280px;
  background-color: #fff;
  color: #303030;
  border-radius: 8px;
  border: 2px solid #c9cbca;
  margin-top: 50px;

  display: grid;
  grid-template-rows: 15% 30% 55%;
  justify-content: center;
  align-items: center;
}

.nameplate-top {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.necklace {
  position: absolute;
  bottom: 30px;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  display: flex;
  flex-direction: column;
}

.necklace-line1 {
  position: absolute;
  left: 15px;
  transform: skew(-14deg);
  width: 23px;
  height: 100px;
  background-color: #9cbfec;
  opacity: 0.5;
  z-index: 2;
}
.necklace-line2 {
  position: relative;
  right: 13px;
  transform: skew(14deg);
  width: 25px;
  height: 100px;
  background-color: #9cbfec;
  z-index: 3;
}

.necklace-tong {
  width: 25px;
  height: 35px;
  background-color: #606060;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nameplate-hole {
  width: 45px;
  height: 10px;
  background-color: #efefef;
  border: 2px solid #c9cbca;
  border-radius: 2px;
  margin-top: 4px;
}

.image-box {
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.image-box > img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #303030;
}

.info-box {
  width: 100%;
  height: 100%;
  grid-row: 3/4;
}

.info-box > ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.info-box > ul > li {
  font-size: 12px;
  margin-top: 5px;
}

.info-box > ul > li:nth-child(1) {
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
}

.info-box > ul > li:last-child {
  font-size: 10px;
  margin-top: 20px;
}

.info-box > ul > li:last-child > span > a:hover {
  color: #9cbfec;
}

li > span {
  vertical-align: baseline;
  font-weight: 100;
  font-size: 11px;
}

.text-box {
  font-weight: bold;
}
